#macOS
.DS_Store

#python cache
__pycache__/

#testing
#run `npm install mocha chai --save-dev` from the /test/js directory to get the below
/test/js/node_modules/ 
/test/js/package-lock.json
/test/python/test.log