<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script>{% include 'js/main.js' %}</script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/gameBoard.css") }}'>
   </head>
   <body>
      <div id = "application">
         <div id="remaining">
            <span class="remaining_text" id="blue" style="--colour:#0080FF">9</span>
            &nbsp;:&nbsp;
            <span class="remaining_text" id="red" style="--colour:red">9</span>
         </div>
         <div id="clue_target">
            <div id="clue_text"></div>
            <div id="clue_input" style="display: none;">
               <input type="text" id="clue" size="12" placeholder="Enter clue"></input>
               <select id="target_num">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
               </select>
               <button type="submit" id="clue_button">Submit</button>
            </div>
         </div>
         <div class="wrapper" style="--split: 5;" id="board">
            {% for word in board[1:] %}
               <div class="card" id="{{word.id}}">
                  {{word.name}}
               </div>
            {% endfor %}
         </div>
      </div>
      <div id="footer">
         <div style="float: left; width: 33.333%;">
         <label class="switch">
            Cheat
            <input type="checkbox" id="cheat">
         </label>
         </div>
         <div id="turn_text" style="display: inline-block; width: 33.333%; text-align: center;"></div>
         <div class="symbol_button" id="reset" style="float: right;">
            <div class="symbol_button_text">
               &#8634;
            </div>
         </div>
      </div>
   </body>
</html>