/*card containers*/
#board
{
    max-width: 1150px;
    width: 100%;    
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 120px 120px 120px 120px 120px;
    grid-gap: 30px;
    transform: translateX(15%);
    transition: transform 250ms ease-in-out;

}

/*cards*/
.card
{
    width:200px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.card p
{
    font-weight: bold;
    font-size:2em;
    text-transform: uppercase;
}

.clueBox
{  
    width: 400px;
    margin: 0 auto;
}

.clueBox input {
  width: 150px;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
    margin: 0 auto;
}


.clueBox input {
  width: 150px;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 7px;
    margin: 0 auto;
}

.clueBox input {
  width: 150px;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 7px;

}
    
.clueBox button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;

}

.clueBox button:hover {
  background-color: lightGreen;
}

#maxClues{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 7px;

}

.neutral
{

    background-color: tan;
    border: sienna dashed 3px;
    border-radius:10px;
}

.blueTeam
{
    background-image: url("");
    background-color: #3399ff;
    border: darkblue dashed 3px;
    border-radius:10px;

}

.redTeam
{
    background-color: #ff5050;
    border: darkred dashed 3px;
    border-radius:10px;
}

.revealed
{
    background-image: url('../../rsc/images/neutral.jpg') ;
}

.bombCard
{
    background-color: #5e5e5e;
    border:#1f1f1f dashed 3px;
    border-radius: 10px;
}

/*side panel*/
.chatbox{
    margin: 1rem auto;
    width: 80%;
    height: 25rem;
    background-color: white;
    border-radius: 15px;

}

.score{
    margin: 1rem auto;
    width: 80%;
    height: 10rem;
    background-color: #97CAEF;
    border-radius: 10px;


}
#sidebarMenu {
    border-radius: 10px;
    height: 100%;
    position: fixed;
    right: 0;
    width: 20%;
    top: 0;
    transform: translateX(250%);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, darkred 0%, darkred 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.openSidebarMenu:checked ~ .arrow {
    transform: translateX(0);
}
.openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;

    z-index: 99;
    height: 100%;
    width: 100%;
    top: 50%;
    right: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.arrow {
    position: fixed;
    border-right:5px solid black;
    border-bottom:5px solid black;
    width:20px;
    height:20px;
    margin-top:40px;

    transform: translateX(0) rotate(135deg);
    transition: transform 250ms ease-in-out;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .arrow {
    transition: all 0.3s ease-in-out;
    transform: translateX(-300px) rotate(-45deg);
}


#scoreText{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;

}
#scores{
    text-align: center;
    font-size: 50px;
}


@media only screen and (max-width: 600px) {

    body {  
        background-color: lightblue;
            
      }

}
