/*
* BACKGROUND
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

body {
    background-color: #ffdede;
    overflow-x: hidden; /*no scrolling */
    /*overflow-y: hidden; */ /* TODO: */
}

/*
* BUTTONS
*/
button {
    cursor: pointer;
}

/*
* SETUP PAGE
*/

#roomNameHost, #yourNameHost, #roomNameJoin, #yourNameJoin, #isBomb, #timerLength {
    float: right;
    font-size: 0.75em;
    text-align: center;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
}

#backMenu, #confirm {
    width: 6em;
    height: 2em;
    font-size: 1em;
    text-align: center;
    background: transparent;
    border-radius: 0.5em;
}

#backMenu:hover {
    background-color: #ff5050;
}

#confirm:hover {
    background-color: #3399ff;
}